
@font-face {
    font-family: 'ProximaNovaRegular';
    src: local("ProximaNovaRegular"),url("../../../../../Static/fonts/ProximaNovaRegular.woff") format("woff");
    font-weight: normal;
}

.jackpot-container{
    background-color: black;
    padding: 3vh;
}
.jackpot-title{
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family: "ProximaNovaRegular";
}
.jackpot-description{
    color:#f5a358;
    font-size: 14px;
    font-family: "ProximaNovaRegular";

}

.jackpot-description p{
    color:white;
    font-size: 15px;
}


