

.timer-container{
    display:flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    background-color: #1F2637;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;
    flex-wrap: wrap;
   
}

.container-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    justify-content: center;
}
.txt-shinda{
    font-weight: bolder;
    font-size: 4.2vh;
    color: white;
}
.txt-jackpot{
    font-weight: bolder;
    font-size: 4.2vh;
    color:#f5a358
}

.timer{
    height: auto;
}
